@font-face {
  font-family: 'HMaisonNeueMedium';
  src: url(../fonts/MaisonNeueExtendedWEB-Medium.woff2) format("woff2");
  font-weight: 500;
}

@font-face {
  font-family: 'MaisonNeueBlack';
  src: url(../fonts/MaisonNeueExtendedWEB-Black.woff2) format("woff2");
  font-weight: 900;
}